$font-size-small: 20px;
$font-size-medium: 30px;
$font-size-large: 40px;
$font-size-heading: 80px;

$color-primary: #2A475B;
$color-secondary-grey: #EAEAEA;
$color-secondary-darkgrey: #363636;
$color-secondary-blue: #7096A0;
